
.heading{
  text-align: center;
}
.box{
  text-align: center;

}
.b-f-d-g{
  display: flex;
  align-items: center;
  justify-content: space-around;

  text-align: center;

  margin-left: auto;
  margin-right: auto;
}
body{
  background-color: aqua;
}

button{
  padding: 8px;
  background-color: greenyellow;
}